@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    color: white;
}
